<header>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a href="">AI Aggregator</a></span>

    <span class="example-spacer"></span>
    <a mat-stroked-button href="chat-model" [hidden]="chatModelHidden">Chat model</a>

    <!-- <span class="example-spacer"></span>
    <a mat-stroked-button href="image-model">Image model</a> -->

    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <!-- todo: fix -->
    <!-- {{ userName }} -->
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>
    <span class="example-spacer"></span>

    <span class="example-spacer"></span>
    <a mat-stroked-button href="profile" [hidden]="profileHidden">Profile</a>

    <span class="example-spacer" [hidden]="signInHidden"></span>
    <a mat-stroked-button (click)="signIn()" [hidden]="signInHidden">Sign In</a>

    <span class="example-spacer" [hidden]="signUpHidden"></span>
    <a mat-stroked-button (click)="signUp()" [hidden]="signUpHidden">Sign Up</a>

    <span class="example-spacer"></span>
    <a mat-stroked-button (click)="signOut()" [hidden]="signOutHidden">Sign Out</a>
  </mat-toolbar>
</header>
