<h3>Sign In</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="control-row" align="center">
    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
        />
        <!-- can be used for the input above ^^^ (blur)="updateErrorMessage()"
        required -->
        <!-- @if (email.invalid) {
          <mat-error>{{errorMessage()}}</mat-error>
        } -->
      </mat-form-field>
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password" />
    </div>

    <button class="button">Sign In</button>

    @if (emailIsInvalid) {
      <p class="control-error">Please enter a valid email address.</p>
    }

    @if (passwordIsInvalid) {
      <p class="control-error">Please enter a valid password (must be at least 6 characters long and contain a question mark).</p>
    }
  </div>
</form>
