<div class="container">
  <div class="item">
    <button mat-flat-button type="button" (click)="startNewDialog()">Start new dialog</button>
    <br />
    <br />
    <mat-checkbox class="example-margin" checked="true"></mat-checkbox>ChatGPT<br />
    <mat-checkbox class="example-margin" checked="true"></mat-checkbox>Gemini<br />
    <mat-checkbox class="example-margin" checked="true"></mat-checkbox>Mistral<br />
    <mat-checkbox class="example-margin" checked="true"></mat-checkbox>Anthropic<br />
    <br />
    Temperature:
    <mat-slider min="0" max="1" step="0.1" showTickMarks discrete >
      <input matSliderThumb formControlName="temperature">
    </mat-slider>
  </div>
  <div class="item"><h3>ChatGPT</h3></div>
  <div class="item"><h3>Gemini</h3></div>
  <div class="item"><h3>Mistral</h3></div>
  <div class="item"><h3>Anthropic</h3></div>
</div>

<div class="container">
  @for (interchange of interchanges(); track interchange) {
    <div class="item">
      <mat-form-field class="example-full-width">
        <textarea matInput>{{ interchange.chatRequest.text! }}</textarea>
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="example-full-width">
        <textarea matInput>{{ interchange.chatResponse.textChatGPT }}</textarea>
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="example-full-width">
        <textarea matInput>{{ interchange.chatResponse.textGemini }}</textarea>
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="example-full-width">
        <textarea matInput>{{ interchange.chatResponse.textMistral }}</textarea>
      </mat-form-field>
    </div>
    <div class="item">
      <mat-form-field class="example-full-width">
        <textarea matInput>{{ interchange.chatResponse.textAnthropic }}</textarea>
      </mat-form-field>
    </div>
  }

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Type a message</mat-label>
        <!-- <textarea matInput placeholder="Ex. Generate the names of 5 most famous pirates."></textarea> -->
        <textarea matInput formControlName="text"></textarea>
      </mat-form-field>
      <br />
      &nbsp;&nbsp;&nbsp;<button mat-flat-button type="submit">Send</button>
    </form>
  </div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>

<div class="container">
  <div class="item">
    <br />
    <br />
    <button mat-flat-button type="button" (click)="startNewDialog()">Start new dialog</button>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
  <div class="item"></div>
</div>
