<h3>Create user</h3>
<form [formGroup]="userCreateForm" (submit)="onSubmit()">
  <label for="email">Email</label>
  <input id="email" type="text" formControlName="email" />
  <br /><br />
  <label for="name">Name</label>
  <input id="name" type="text" formControlName="name" />
  <br /><br />
  <label for="password">Password</label>
  <input id="password" type="text" formControlName="password" />
  <br /><br />
  <label for="password2">Password again</label>
  <input id="password2" type="text" formControlName="password2" />
  <br /><br />
  <button type="submit" class="primary">Save</button>
  <br /><br /><br /><br /><br /><br /><br />
  @if (newUser()) {
    New user was created:<br />
    userId = {{ newUser()?.userId }}<br />
    email = {{ newUser()?.email }}<br />
    password = {{ newUser()?.password }}<br />
    name = {{ newUser()?.name }}<br />
    createdOn = {{ newUser()?.createdOn }}<br />
    updatedOn = {{ newUser()?.updatedOn }}<br />
  }

</form>
