<mat-grid-list cols="5">
  <mat-grid-tile>Request</mat-grid-tile>
  <mat-grid-tile>ChatGPT</mat-grid-tile>
  <mat-grid-tile>Gemini</mat-grid-tile>
  <mat-grid-tile>Mistral</mat-grid-tile>
  <mat-grid-tile>Anthropic</mat-grid-tile>

  <mat-grid-tile>
    1<br />
    1<br />
    1<br />
    1<br />
    1<br />
    1<br />
    1<br />
  </mat-grid-tile>
  <mat-grid-tile>
    2
  </mat-grid-tile>
  <mat-grid-tile>
    3
  </mat-grid-tile>
  <mat-grid-tile>
    4
  </mat-grid-tile>
  <mat-grid-tile>
    5
  </mat-grid-tile>

  <mat-grid-tile>
    1
  </mat-grid-tile>
  <mat-grid-tile>
    2
  </mat-grid-tile>
  <mat-grid-tile>
    3
  </mat-grid-tile>
  <mat-grid-tile>
    4
  </mat-grid-tile>
  <mat-grid-tile>
    5
  </mat-grid-tile>

</mat-grid-list>
