<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Welcome on board!</h3>
  <p>We just need a little bit of data from you to get you started 🚀</p>

  <div class="example-container">
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="email"
      />
    </mat-form-field>
  </div>

  <div class="control-row" formGroupName="passwords">
    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="example-container">
      <mat-form-field>
        <mat-label>Confirm password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="confirmPassword" />
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>

  <!-- <hr /> -->

  <div>
    <div class="control-row">
      <div class="control">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>

      <!-- <div class="control">
        <mat-form-field>
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName">
        </mat-form-field>
      </div>

      <div class="control">
        <mat-form-field>
          <mat-label>Last name</mat-label>
          <input matInput formControlName="lastName">
        </mat-form-field>
      </div> -->
    </div>

    <!-- <fieldset formGroupName="address">
      <legend>Your Address</legend>

      <div class="control-row">
        <div class="control">
          <label for="street">Street</label>
          <input
            type="text"
            id="street"
            name="street"
            formControlName="street"
          />
        </div>

        <div class="control">
          <label for="number">Number</label>
          <input
            type="text"
            id="number"
            name="number"
            formControlName="number"
          />
        </div>
      </div>

      <div class="control-row">
        <div class="control">
          <label for="postal-code">Postal Code</label>
          <input
            type="text"
            id="postal-code"
            name="postal-code"
            formControlName="postalCode"
          />
        </div>

        <div class="control">
          <label for="city">City</label>
          <input type="text" id="city" name="city" formControlName="city" />
        </div>
      </div>
    </fieldset> -->
  </div>

  <!-- <hr /> -->

  <!-- <div class="control-row">
    <div class="control">
      <mat-form-field>
        <mat-label>What best describes your role?</mat-label>
        <mat-select formControlName="role">
          @for (role of roles; track role) {
            <mat-option [value]="role.value">{{role.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div> -->

  <!-- <fieldset formArrayName="source">
    <legend>How did you find us?</legend>
    <div class="control">
      <input type="checkbox" id="google" name="acquisition" value="google" formControlName="0" />
      <label for="google">Google</label>
    </div>

    <div class="control">
      <input type="checkbox" id="friend" name="acquisition" value="friend" formControlName="1" />
      <label for="friend">Referred by friend</label>
    </div>

    <div class="control">
      <input type="checkbox" id="other" name="acquisition" value="other" formControlName="2" />
      <label for="other">Other</label>
    </div>
  </fieldset> -->

  <!-- <div class="control-row">
    <div class="control">
      <mat-checkbox class="example-margin" formControlName="agree">I agree to the terms and conditions</mat-checkbox>
    </div>
  </div> -->

  <p class="form-actions">
    <button mat-flat-button type="button" (click)="onReset()">Reset</button>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button mat-flat-button type="submit">Sign up</button>
  </p>

  @if (form.touched && form.invalid) {
    <p class="control-error">
      Invalid form - please check your input data.
    </p>
  }
</form>
