<!-- <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)"> -->
  <h3>Image model</h3>
  <mat-form-field class="example-full-width">
    <mat-label>Type a message</mat-label>
    <!-- <textarea matInput placeholder="Ex. A light cream colored mini golden doodle"></textarea> -->
    <textarea matInput></textarea>
  </mat-form-field>
  <br />
  <button mat-flat-button type="submit">Send</button>
<!-- </form> -->
  <br /><br /><br /><br />
  OpenAI<br />
  <mat-form-field class="example-full-width">
    <textarea matInput></textarea>
  </mat-form-field>
  <br />
  Stability<br />
  <mat-form-field class="example-full-width">
    <textarea matInput></textarea>
  </mat-form-field>
